dist/
dist-newstyle/
.ghc.environment.*
.hpc/
*.hi
*.o
*.dyn_hi
*.dyn_o
*.prof
*.aux
*.hp
*.tix
.HTF/
cabal-dev/
.cabal-sandbox/
cabal.sandbox.config
.stack-work/
stack.yaml.lock

.DS_Store
*.swp
*.swo
*~

out/
.claude
